@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8f9fa;
}

main {
  min-height: 80vh;
}

.card {
  border: none;
  border-radius: 15px;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

.navbar-brand {
  letter-spacing: 1px;
}